html, body {
  height: 100%;
  overflow: hidden;
  /* background-color: #FFBC42; */
}

.h-100 {
  height: 100% !important;
}

.main {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 450px;
  height: 261px;
}

.logo img {
  margin-bottom: 5em;
}

.startButton {
  position: absolute !important;
  transform: translate(-50%, -50%);
  left: 49.3%;
  top: 60%;
  opacity: 1;
  border-radius: 7px !important;
  border: 1px solid #495057 !important;
  animation-name: fadeInOpacity;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.startButton span {
  color: #495057;
  letter-spacing: 0.5px;
  font-weight: bold;
}

/*
  animation-name: 애니메이션의 중간 상태를 지정합니다. 중간 상태는  @keyframes 규칙을 이용하여 기술합니다.
  animation-iteration-count: 애니메이션이 몇 번 반복될지 지정합니다. infinite로 지정하여 무한히 반복할 수 있습니다.
  animation-timing-function: 애니메이션의 중간 상태들의 전환을 어떤 시간간격으로 진행할지 지정합니다.
  animation-duration: 애니메이션이 종료되고 다시 처음부터 시작할지 역방향으로 진행할지 지정합니다.
*/

.startButton_click {
  opacity: 0;
  width: 100%;
  animation: startButton_click 1s 0s 1 ease-in;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes startButton_click {
  0% {
    height: 500px;
  }
  100% {
    opacity: 1;
    bottom: 100%;
    height: 100%;
  }
}