.jumbotron {
  height: 90%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.jumbotron img {
  height: 800px;
  cursor: pointer;
}

