.jumbotron {
  height: 90%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.jumbotron img {
  height: 800px;
  cursor: pointer;
}

.jumbotron img:hover {
  animation: imageHover 0.5s 0s 1 linear alternate;
}

@keyframes imageHover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}